<div ng-controller="loginCtrl" class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="javascript:void(0);" ng-class="{'active':!showRegister}" ng-click="showRegister = !showRegister">
                                <span  translate="login_page.login">Login</span>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a href="javascript:void(0);" ng-class="{'active':showRegister}" ng-click="showRegister = !showRegister">
                                <span translate="login_page.register">Register</span>
                            </a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" ng-if="!showRegister" style="display: block;">
                                <div class="form-group">
                                    <input type="text" name="email" id="email" tabindex="1" class="form-control"
                                           placeholder="{{'login_form.email' | translate}}" ng-model="login.email">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" tabindex="2"
                                           class="form-control" placeholder="{{'login_form.password' | translate}}" ng-model="login.password">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <button class="form-control btn btn-login" ng-click="login(login.email, login.password)" translate="login_form.login"></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form id="register-form" ng-if="showRegister" style="display: block;">
                                <div class="form-group">
                                    <label for="email" class="control-label" translate="register_form.email">Email:</label>
                                    <input type="email" ng-model="registerUser.email" name="email" id="email" tabindex="1" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label" translate="register_form.password">password:</label>
                                    <input type="password" ng-model="registerUser.password" name="password" id="password" tabindex="2"
                                           class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label" translate="register_form.confirmPassword">confirmPassword:</label>
                                    <input type="password" ng-model="helper.confirmPassword" name="confirm-password" id="confirm-password" tabindex="3"
                                           class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label" translate="register_form.fullname">fullname:</label>
                                    <input type="text" ng-model="registerUser.fullname" name="fullname" id="fullname" tabindex="4"
                                           class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label" translate="register_form.mobileNumber">mobileNumber:</label>
                                    <input type="text" ng-model="helper.mobileNumber" ui-mask="+999-999-99-99-99" name="mobileNumber" id="mobileNumber" tabindex="5"
                                           class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label" translate="register_form.personalNumber">personalNumber:</label>
                                    <input type="text" ng-model="registerUser.personalNumber" ui-mask="99999999999" name="personalNumber" id="personalNumber" tabindex="6"
                                           class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label" translate="register_form.birthday">birthday:</label>
                                    <input id="birthday"
                                           ui-mask="99/99/9999"
                                           class="form-control"
                                           tabindex="7"
                                           ng-model="helper.userBirthday"/>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label" translate="register_form.salary">:</label>
                                    <input type="number" ng-model="registerUser.salary" name="salary" id="salary" tabindex="8"
                                           class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label" translate="register_form.netLiabilities">netLiabilities:</label>
                                    <input type="number" ng-model="registerUser.netLiabilities" name="netLiabilities" id="netLiabilities" tabindex="9"
                                           class="form-control">
                                </div>
                                <div ng-show="error" class="alert alert-danger">{{error.message}}</div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <button class="form-control btn btn-register" ng-click="register()" translate="register_form.register">Register Now</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>