<div ng-controller="dashboardCtrl" class="home-page">
    <div class="row">
        <div class="col-lg-4" style="margin: 100px">
            <table class="table table-bordered">
                <tr>
                    <td><strong translate="info_view.email"></strong></td>
                    <td colspan="2"><em>{{currentUser.email}}</em></td>
                </tr>
                <tr>
                    <td><strong translate="info_view.fullname"></strong></td>
                    <td colspan="2"><em>{{currentUser.fullname}}</em></td>
                </tr>
                <tr>
                    <td><strong translate="info_view.birthday"></strong></td>
                    <td colspan="2"><em>{{currentUser.birthday}}</em></td>
                </tr>
                <tr>
                    <td><strong translate="info_view.mobileNumber"></strong></td>
                    <td colspan="2"><em>{{currentUser.mobileNumber}}</em></td>
                </tr>
                <tr>
                    <td><strong translate="info_view.personalNumber"></strong></td>
                    <td colspan="2"><em>{{currentUser.personalNumber}}</em></td>
                </tr>
                <tr>
                    <td><strong translate="info_view.salary"></strong></td>
                    <td colspan="2"><em>{{currentUser.salary}}</em></td>
                </tr>
                <tr>
                    <td><strong translate="info_view.netLiabilities"></strong></td>
                    <td colspan="2"><em>{{currentUser.netLiabilities}}</em></td>
                </tr>


            </table>
        </div>
        <div class="col-lg-4 jumbotron" style="margin: 100px">
            <h3>
                {{'info_view.calculatedLoanAmount' | translate :'{calculatedLoanAmount : currentUser.calculatedLoanAmount}'}}
            </h3>
        </div>
    </div>
</div>